<!DOCTYPE html>

<html lang="en">
  <%- include('../partials/headProd') %>
  <body>
    <%- include('../partials/headerProd') %>
    <main>
      <form action="/productos/<%=producto.id%>?_method=DELETE" method="POST">
        <div>
          <a href="/productos" class="Volver">Volver</a>
        </div>
        <h2 class="titulo_form">Eliminar Producto</h2>
        <p class="texto_form">
          ¿Estás seguro de que deseas eliminar el producto
          <span class="texto_nombre_descripcion"
            ><%= producto.nombre %> <%= producto.descripcion %></span
          >
          ?
        </p>
        <div class="contenedor_Botones">
          <button type="submit">Eliminar</button>
          <a class="Cancelar" href="/productos">Cancelar</a>
        </div>
      </form>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
