<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <section>
      <div class="contenedor">
        <%productos.forEach(producto =>{ %>
        <div class="card-contenedor">
          <img class="card-img" src="<%= producto.img %>" />
          <div class="card-contenedor-tex">
            <h2 class="nombreProc"><%=producto.nombre%></h2>
            <p class="card-descrpcion"><%=producto.descripcion%></p>
            <span>$<%=producto.precio%></span>
          </div>
        </div>
        <%})%>
      </div>
    </section>
    <%- include('../partials/footer') %>
  </body>
</html>
